# Ambiente
.env
.env.*
!.env.example

# Chaves RSA (nunca commitar)
*.pem
jwt_private.pem
jwt_public.pem

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.venv/
venv/
env/
docs

# Testes
.coverage
.coverage.*
htmlcov/
.pytest_cache/
coverage.xml

# Uploads locais
uploads/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Docker
*.log

# OS
.DS_Store
Thumbs.db
